* {
  box-sizing: border-box;
}

.title {
  margin: auto;
  font-family: Helvetica sans-serif;
  text-align: center;
}
.body {
  font-size: 20px;
  font-family: Helvetica sans-serif;
  background-color: papayawhip;
  height: 100%;
  width: 100%;
}

.formSheet {
  background-color: bisque;
  padding: 10px;
  display: flex;
}

.results{}
