@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);
@font-face {
	font-family: 'verdemoderna';
  src: url("verdemoderna.woff");
}


@media(min-width: 960px) {
}


body {
    font-family: 'libre Baskerville', sans-serif;
    background-image: url("./huntington.jpg"), url("contours-opaque.png"), url("gridlines-opaque.png");
    background-size: contain, cover;
    background-repeat: repeat, repeat;
    background-position: left top, center top;
}

div > h1,h2{
  color: white;
}

div> p{
  font-family: 'libre Baskerville', sans-serif;
  font-size: 12px;
  line-height: 2;

}

h4 {
      font-family: 'Julius Sans One', sans-serif;
}

.rightText {
  color: #c0cac3;
  font-size: 16px;
  font-style: italic;
}

#title{
  font-size: 45px;
}
#titleHeading {
  color: rgba(255,255,255,0.6);
  font-style: italic;
}
.textHeader{
  font-family: 'Julius Sans One', sans-serif;
  color: #2e484c;
}

#topContent {
  background: transparent;
	background-size: cover,cover,cover;
  width: 80%;
  height: 300px;
  top: 0;
  display: inline-block;
  transform:translate(10%);
  float:left;
	grid-area: topContent;
}

#topBanner{
  width: 60%;


}

#banner {
  vertical-align: middle;
  text-align: left;
  height: 200px;


}

#zen{
  float:left;
  margin: 5px;
  padding: 10px;
}

#rightBox{
  float: right;
  right: -22%;
  top: 0%;
  background-color: #edf4f0;
  width: 50%;
  height: 100%;
  position: absolute;
  opacity: 0.30;
  display: flex;
  justify-content: center;
  align-items: center;


}

#moreDesigns {
  width: 65%;
  height: 25%;
  position: relative;
  background-color: grey;
  color: white;
  opacity: 1.50;
  display: grid;
  grid-template-areas:
  "left texty texty right";
  color: white;
  z-index: 2;

}

#designText{
  grid-area: texty;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transform: translate(5%,35%);
  color: white;
  opacity: 1.50;
}
#leftArrow{
  grid-area: left;
  border-right: 1px solid white;
}

#rightArrow{
  grid-area: right;
  border-left: 1px solid white;
}

.textArrow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-size: 44px;
  color: white;
}


.leftContent {
  padding: 5px;
  height: 800px;
  width: 65%;
  display: inline-block;
  float:left;
  background-color: white;
	grid-area: leftContent;
}

.leftContent2 {
  padding: 5px;
  height: 600px;
  width: 65%;
  display: inline-block;
  float:left;
  background-color: white;
	grid-area: leftContent2;
}

#rightContent{
  height: 1957px;
  width: 35%;
  display: inline-block;
  position: absolute;
  background-color: #edf4f0;
  padding-left: 65px;
	grid-area: right;

}


#rightContentBox{
  margin-top: 80px;
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: auto;
  line-height: 0.8;

}



.rightContentContents{

  border-bottom: 1px solid black;
  margin: 8px;

}

#bottomContent{
  width: 105%;
  height: 500px;
  float:left;
  display: inline-block;
  position: absolute;
  background-color: transparent;
	grid-area: bottomContent;
}
#bottomText{
  width:100%;
  height: 60%;
  justify-content: center;
  text-align: center;
  transform:translateY(25%);
}
#fancyText{
  font-size: 30px;
  font-style: italic;
  color: #4F6e77;

}
#bottomBar {
  width: 100%;
  height: 40%;
  float:left;
  bottom: 0%;
  position: absolute;
  background-color: #134347;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    ". . ichi ni san yon go . .";

}
#ichi{
  grid-area: ichi;
      transform:translateY(32%);
}
#ni{
  grid-area: ni;
      transform:translateY(32%);
}
#san{
  grid-area: san;
      transform:translateY(32%);
}
#yon{
  grid-area: yon;
      transform:translateY(32%);
}
#go{
  grid-area: go;
    transform:translateY(32%);
}

.bottomOnes{
  justify-content: center;
  text-align: center;
  font-family: "verdemoderna";
  font-size: 65px;
}

.fancierText{
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-size: 30px;

}

.greenSection {
    background-color: rgba(138,188,159,0.5);
		background-attachment: scroll, scroll;
		background-image: url(contours-opaque.png), url(gridlines-opaque.png);
    width: 66%;
    float:left;
}
