.container {
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.counter {
  font-size: 80px;
  align-self: center;
  font-family: Helvetica;

}

.buttons {
  width: 100px;
  height: 100px;
  font-size: 40px;
}

.buttons:hover{
  background-color: darkgrey;
}
